body{
    /* background-color: cornflowerblue;    
    background-image: url("../img/pattern.png");
    background-repeat: repeat no-repeat; */

}

.container{
    width: 70%; 
    margin: 0 auto;   
}

header img{
    height: 30px;    
}

header p{
    color: rgb(179, 179, 179);
}

p span{
    color: cornflowerblue;
}