body{
    /* background-color: cornflowerblue;    
    background-image: url("../img/pattern.png");
    background-repeat: repeat no-repeat; */

}

.container{
    width: 50%; 
    margin: 0 auto;   
}

header img{
    height: 30px;    
}

header p{
    color: rgb(179, 179, 179);
}

p span{
    color: cornflowerblue;
}

#copertina img{
    height: 180px;
    display: inline-block;
}

.tagline{
    font-size: 10px;
}

table td{
    border: 0px;
}

